<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.benibela.myandroid"
      android:versionCode="2000"
      android:versionName="2.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
    <application android:label="@string/app_name"
        android:icon="@android:drawable/ic_menu_manage"

        android:name=".MyAndroidApp"


        android:theme="@style/Theme.AppCompat.Light"
    >
        <!--android:theme="@style/Theme.myandroid"-->
        <activity android:name=".MyAndroidActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BeeperActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="Beeper"
                  android:launchMode="singleTop"/>

        <activity android:name=".SoDebuggerActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="SO Debugger"
                  android:launchMode="singleTop"/>

        <activity android:name=".EyeTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Eye Test"
            android:launchMode="singleTop"/>

        <activity android:name=".HTTPActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="HTTP"
            android:launchMode="singleTop"/>

    </application>


</manifest> 
